<div class="dinopark-preferences-banner">
  {{{i18n "dinopark.preferences.linked_description"}}}
  <div class="buttons">
    <button class="btn btn-medium unlink" title="{{i18n "dinopark.preferences.unlink_long"}}" {{action "unlink"}}>
      {{d-icon "unlink" label=(i18n "dinopark.preferences.unlink_long")}}
      <span aria-hidden>{{i18n 'dinopark.preferences.unlink'}}</span>
    </button>
  </div>
</div>
