<form class='form-horizontal'>

  <div>
    <label for='group_name'>Discourse Group Name</label>
    {{group-selector name='group_name' groupFinder=groupFinder groupNames=model.group_name single=true}}
  </div>

  <div>
    <label for='iam_group_name'>IAM Group Name</label>
    {{text-field name='iam_group_name' value=model.iam_group_name}}
  </div>

  <div class='buttons'>
    <button {{action 'save'}} class='btn btn-primary'>{{i18n 'admin.customize.save'}}</button>
    <button {{action 'destroy'}} class='btn btn-danger'>{{fa-icon 'trash-o'}}{{i18n 'admin.customize.delete'}}</button>
    <span class="status {{unless status 'hidden'}}">{{status}}</span>
  </div>

</form>
