{{#if model.mozilla_iam.dinopark_enabled}}
  <style>
    .pref-username,
    .pref-name,
    .pref-title,
    .pref-avatar {
      display: none;
    }

    .pref-dinopark-username,
    .pref-dinopark-name,
    .pref-dinopark-title,
    .pref-dinopark-avatar {
      display: block;
    }
  </style>

  <div class="control-group pref-username pref-dinopark-username">
    <label class="control-label">
      {{i18n 'user.username.title'}}
      {{dinopark-edit}}
    </label>
    <div class="controls">
      <span class='static'>{{model.username}}</span>
    </div>
    <div class='instructions'>
      {{{i18n 'user.username.short_instructions' username=model.username}}}
    </div>
  </div>

  <div class="control-group pref-name pref-dinopark-name">
    <label class="control-label">
      {{i18n 'user.name.title'}}
      {{dinopark-edit}}
    </label>
    <div class="controls">
        <span class='static'>{{model.name}}</span>
    </div>
  </div>

  <div class="control-group pref-avatar pref-dinopark-avatar">
    <label class="control-label" id="profile-picture">
      {{i18n 'user.avatar.title'}}
      {{dinopark-edit}}
    </label>
    <div class="controls">
      {{bound-avatar model "huge"}}
    </div>
  </div>

  <div class="control-group pref-title pref-dinopark-title">
    <label class="control-label">
      {{i18n 'user.title.title'}}
      {{dinopark-edit}}
    </label>
    <div class="controls">
      <span class='static'>{{model.title}}</span>
    </div>
  </div>
{{/if}}

<div class="control-group pref-mozilla-iam-emails">
  <label class="control-label">{{i18n 'mozilla_iam.user.email.addresses'}}</label>
  {{#if model.email}}
    <div class="instructions">
      {{i18n "user.email.instructions"}}
    </div>

    <div class="controls pref-mozilla-iam-primary-email">
      <label class="inline-label">{{i18n 'user.email.primary'}}</label>
      {{#if model.can_edit_email}}
        {{#link-to "preferences.email"
          tagName="button"
          type="button"
          class="btn btn-medium no-text dinopark-edit"
          title=(i18n "mozilla_iam.user.email.primary_edit")
        }}
          {{d-icon "pencil-alt" label=(i18n "mozilla_iam.user.email.primary_edit")}}
        {{/link-to}}
      {{/if}}
      <div class="value">
        {{model.email}}
      </div>
    </div>
    <div class="instructions">
      {{i18n 'mozilla_iam.user.email.primary_instructions'}}<br>
      {{i18n 'mozilla_iam.user.email.primary_instructions_further'}}
    </div>

    <div class="controls pref-mozilla-iam-secondary-emails">
      <label class="inline-label">{{i18n 'user.email.secondary'}}</label>
      <a href="https://mozillians.org/user/edit/#idp-profiles"
        role="button"
        target="_blank"
        class="btn btn-medium dinopark-edit"
        title="{{i18n "mozilla_iam.user.email.secondary_edit"}}"
      >
        {{d-icon "external-link-alt" label=(i18n "mozilla_iam.user.email.secondary_edit")}}
        <span aria-hidden>{{i18n 'mozillians.edit'}}</span>
      </a>
      {{#if model.secondary_emails}}
        <ul class="value">
          {{#each model.secondary_emails as |email| }}
            <li>{{email}}</li>
          {{/each}}
        </ul>
      {{else}}
        <div class="value">{{i18n 'mozilla_iam.user.email.no_secondary'}}</div>
      {{/if}}
    </div>
    <div class="instructions">
      {{i18n 'mozilla_iam.user.email.secondary_instructions'}}<br>
      {{i18n 'mozilla_iam.user.email.secondary_instructions_further'}}
      {{#if ldap_account}}
        <br>{{i18n "mozilla_iam.user.email.secondary_instructions_ldap"}}
      {{/if}}
    </div>

    {{#if model.duplicate_accounts}}
      <div class="controls pref-mozilla-iam-duplicate-accounts">
        <label class="inline-label">{{i18n "mozilla_iam.user.email.duplicate_accounts"}}</label>
        {{#link-to "new-message"
          (query-params groupname="admins" title="Merge user accounts" body=message_admins_body)
          class="btn btn-small btn-icon pad-left no-text"
          tagName="button"
          type="button"
          title=(i18n "mozilla_iam.user.email.merge_accounts_long")
        }}
          {{d-icon "envelope" label=(i18n "mozilla_iam.user.email.merge_accounts_long")}}
          <span aria-hidden>{{i18n "mozilla_iam.user.email.merge_accounts"}}</span>
        {{/link-to}}
        <ul class="value">
          {{#each model.duplicate_accounts as |user| }}
            <li>
              {{#user-info user=user}}
                <ul>
                  <li>{{user.email}}</li>
                  {{#each user.secondary_emails as |email|}}
                    <li>{{email}}</li>
                  {{/each}}
                </ul>
              {{/user-info}}
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="instructions">
        {{i18n "mozilla_iam.user.email.duplicate_accounts_instructions"}}<br>
        {{i18n "mozilla_iam.user.email.duplicate_accounts_instructions_further"}}
      </div>
    {{/if}}
  {{else}}
    <div class="controls pref-mozilla-iam-check-email">
      {{d-button action=(action "checkEmail") actionParam=model title="admin.users.check_email.title" icon="far-envelope" label="admin.users.check_email.text"}}
    </div>
  {{/if}}
</div>
